// tokens.scss: サイトのテーマ定義

// CSS変数はメディアクエリで使えないためSass変数も定義
$pagewidth-phone: 640px;
$pagewidth-tablet: 800px;
$pagewidth-max: 1280px;

:root {
  // typography
  --font-main: 'Noto Serif JP', serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  // colors (dark - default)
  --color-bg: #171717;
  --color-surface: #1a1a1a;
  --color-surface2: #222222;
  --color-fg: #f0f0f0;
  --color-fg-surface: #d0d0d0; // スイッチのトグル部分などfgを広めの塗りに使いたいとき
  --color-muted: #b0b0b0;
  --color-border: #262626;

  --color-primary: #2f4156;
  --color-primary-fg: #ffffff;
  --color-primary-surface: #2c3e53; // スイッチの背景などprimaryを広めの塗りに使いたいとき
  // --color-primary-gradient: linear-gradient(-20deg, #9b8603, #6b8e23);

  --color-success: #2faf5b;
  --color-success-fg: #f0f0f0;
  --color-danger: #ca452a;
  --color-danger-fg: #101010;
  --color-warning: #c39b2d;
  --color-warning-fg: #101010;

  // font size
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-2xl: 1.5rem; // 24px

  // font weight
  // webフォント利用時は<head>で読み込むウェイトと合わせたほうが良い
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  // line height
  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  // responsive breakpoints
  --pagewidth-phone: #{$pagewidth-phone};
  --pagewidth-tablet: #{$pagewidth-tablet};
  --pagewidth-max: #{$pagewidth-max};

  // corner radius
  --radius-sm: 2px;
  --radius-md: 3px;
  --radius-lg: 4px;

  // spacing
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;

  // shadows
  --shadow-sm: 0 1px 2px rgb(0 0 0 / 25%);
  --shadow-md: 0 2px 4px rgb(0 0 0 / 25%);
  --shadow-lg: 0 4px 8px rgb(0 0 0 / 25%);

  // durations
  // util.tsのCSS_TOKENSと同期させること
  --duration-fast: 120ms;
  --duration-normal: 200ms;
  --duration-slow: 300ms;
  --duration-veryslow: 1000ms; // for test
  --duration-tooltip: 3000ms; // for mobile tooltip auto-hide
  --duration-toast: 5000ms;

  // easing
  --ease-out: cubic-bezier(0.2, 0, 0, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  // z-index
  // MEMO: <dialog> や popover は別レイヤに配置されるので z-index をいくつにしても上に表示できない
  --z-base: 0;
  --z-dropdown: 16; // tooltip など
  --z-header: 32;
  --z-overlay: 64;
  --z-modal: 128;
  --z-toast: 256;

  // effects
  --filter-hover: brightness(120%);
  --filter-hover-opacity: opacity(80%); // 色によってbrightnessの変化がわかりにくい場合に使う
  // --filter-hover-backlight: brightness(120%) drop-shadow(0 0 5px rgb(255 255 255 / 20%));
  --filter-hover-backlight: brightness(120%); // MonaCubeでは通常hoverと同じ効果で十分
}

// Light mode overrides
[data-color-mode='light'] {
  --color-bg: #eaeaea;
  --color-surface: #f0f0f0;
  --color-surface2: #f4f4f4;
  --color-fg: #1a1a1a;
  --color-fg-surface: #404040;
  --color-muted: #64748b;
  --color-border: #dddddd;

  --color-primary: #53989c;
  --color-primary-fg: #ffffff;
  --color-primary-surface: #5ca6aa;
  // --color-primary-gradient: linear-gradient(-20deg, #b39d0e, #83aa35);

  --color-success: #2faf5b;
  --color-success-fg: #f0f0f0;
  --color-danger: #ca452a;
  --color-danger-fg: #f0f0f0;
  --color-warning: #c39b2d;
  --color-warning-fg: #f0f0f0;

  // shadows
  --shadow-sm: 0 1px 2px rgb(0 0 0 / 15%);
  --shadow-md: 0 2px 4px rgb(0 0 0 / 15%);
  --shadow-lg: 0 3px 6px rgb(0 0 0 / 15%);

  // effects
  --filter-hover: contrast(85%) brightness(110%); // 白飛び防止のためコントラスト調整
  --filter-hover-opacity: opacity(70%);
  --filter-hover-backlight: brightness(110%) drop-shadow(0 0 5px rgb(255 255 255 / 20%));
}
